<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--    xml文件bean注入     -->
    <bean id="personService" class="com.springboot.hello._20190917Ioc._20201203注册bean.PersonSerivceImpl"/>

    <!--    xml文件bean 属性赋值     -->
    <bean id="car" class="com.springboot.hello._20190917Ioc._20201204赋值bean.Car">
        <property name="name" value="redCar"/>
    </bean>
</beans>